<select class="projectStatusSelect {{getStatusClass this.activeTask.TaskStatusId}}" data-taskid={{this.activeTask.id}}>
  {{#each this.statuses}}
    <option value={{id}} {{getStatusSelect ../this.activeTask.TaskStatusId id}}>{{task_status}}</option>
  {{/each}}
</select>