{{> sidebar/sidebar projNav=true }}

<div class="pageContentContainer">

  {{> subnav this}}

  <div class="project">
    <h1>{{project.project_name}}</h1>
    <div class="taskContainer">
      <div class="taskList">
        <ul>
          {{#each project.Tasks}}
            <a href="/project/{{../project.id}}/{{id}}" class="taskLink">
              <span>{{task_name}}</span>
               {{!--<span class={{getStatusClass this.taskStatus}}></span> --}}
            </a>
          {{/each}}
        </ul>
        <button class="button-gray-small-light createTask">
          <i class="fas fa-thumbtack"></i>
          Add a Task
        </button>
      </div>

      <div class="taskDetailsContainer">
        {{#if activeTask}}
          <div class="task">
            <article>
              <h2>{{activeTask.task_name}}</h2>
              <div class="taskDetails">
                <span>Due Date</span>
                {{> status-select}}
              </div>

              <p>{{activeTask.task_description}}</p>
            </article>

          </div>

          {{> comment/comments }}
        {{else}}

          {{project.project_description}}

        {{/if}}

      </div>
    </div>
  </div>

</div>

{{> project/create-task users=users }}