<li class="projectCardContainer">
  <a class="cardContent" href="/project/{{this.id}}">
    <h3>{{this.project_name}}</h3>
    <div class="cardDetails">
      <div class="dates">
        <div class="start">
          <h4>Start Date</h4>
          <span class="date">{{formatDate this.goal_start }}</span>
        </div>
        <div class="finish">
          <h4>Due Date</h4>
          <span class="date">{{formatDate  this.goal_start }}</span>
        </div>
      </div>
      <div class="daysLeft">
        <h4>Days till due</h4>
        <span class="date">{{formatRelative this.goal_end units="day"}}</span>
      </div>
      <div class="assigned">
        <h4>Project Owner</h4>
        <span class="user">{{this.UserId}}</span>
      </div>
    </div>
    <div class="cardProgress">
      <div class="progressBar">
        <span class="progress" style="width: {{progressBar this.Tasks}}%"></span>
      </div>
    </div>
  </a>
</li>